html {
    font-size: 16px;
    scroll-behavior: smooth;
    
  
  }

 
  #banner .row .banner 
  {
    height: 97%;
    width: 100%;
    padding: 0;
    margin: 0% 0% 1% 0%;
    flex-direction: column;
    background-attachment:fixed;
   
}


#iten .card {
  height: 50%;
  width: 100%;
  padding: 0;
  margin: 10% 50% 10% 0%;
  
 

}
  
  #header .navbar {
    background-color: rgba(186, 241, 245, 0.904);
    border:1px rgb(101, 26, 136) solid;
  }
  
  
  .btn-primary {
    background-color: rgb(56, 82, 170);
    border: 1px rgb(101, 26, 136) solid;


  }

