html {
    font-size: 16px;
    scroll-behavior: smooth;
    
  
  }

 
  #banner .row .banner 
  {
    height: 100%;
    width: 100%;
    margin: auto;
    flex-direction: column;
 

}


#iten .card {
  height: 90%;
  width: 80%;
  padding: 0;
  margin: 0% 0% 10% 0%;

  }
  
  #header .navbar {
    background-color: rgba(186, 241, 245, 0.904);
    border:1px rgb(101, 26, 136) solid;
  }
  
  
  .btn-primary {
    background-color: rgb(56, 82, 170);
    border: 1px rgb(101, 26, 136) solid;


  }

  .icones {     
    margin: 0px;     
    width: 20px;     
    height: 20px; 
}



